/* login.css */

body {
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
  background-image: url(https://cdn.wallpapersafari.com/74/49/F7dPYn.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  max-width: 400px;
  width: 90%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 10px rgba(3, 3, 3, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#login-btn:hover {
  background-color: #0056b3;
}
