/* styles.css */

body {
  font-family: "Arial", sans-serif;
  text-align: center;

  background-image: url("https://cdn.wallpapersafari.com/74/49/F7dPYn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
}

#xyz {
  padding-top: 1.5rem;
}

h1 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 20px 0;
}

#tobe {
  display: flex;
  justify-content: space-evenly;
}

#task-list {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  max-height: 100vh;
}

#filters {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

#filters label {
  display: inline-block;
  white-space: nowrap;
  margin-right: 10px;
  font-weight: bold;
}

#priority-filter,
#completed-filter {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

#tasks {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  transition: background-color 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

li:hover {
  background-color: #eee;
}

#priority-filter,
#completed-filter {
  width: calc(100% - 24px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.priority {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

.high {
  background-color: #ff6b6b;
}

.medium {
  background-color: #ffd166;
  color: #333;
}

.low {
  background-color: #6ee7b7;
  color: #333;
}

.task-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
}

.task-name {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: #333;
}

.task-notes {
  color: #555;
  font-size: 16px;
}

.edit-task-name,
.edit-task-notes {
  border: 2px solid #007bff;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  font-size: 16px;
}

input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
#priority {
  width: calc(100% - 24px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
#new-task {
  width: calc(100% - 24px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
.editing {
  background-color: #ffffcc;
  border: 2px solid #ffcc00;
}

.edit-task,
.save-task,
#add-task,
#dark-mode-toggle {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}
#add-task {
  padding: 10px;
}

.edit-task {
  background-color: #28a745;
}

#add-task:hover,
#dark-mode-toggle:hover {
  background-color: #0056b3;
}

#add-task,
#dark-mode-toggle {
  width: 100%;
  margin-top: 20px;
}
.completed {
  background-color: #d4edda !important;
}

.delete-task,
.complete-task {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.2s;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

.complete-task {
  background-color: #28a745;
}

.complete-task:hover {
  background-color: #218838;
}

.delete-task:hover {
  background-color: #c82333;
}

.edit-task:hover {
  background-color: #218838;
}
